<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">


<!--[if IE 7 ]>
<html class="ie ie7"/> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8"/> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9"/> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"/> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SkyBooking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- Font Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600'
          th:href="@{http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600}" rel="stylesheet"
          type='text/css'/>
    <!-- /Font Google -->
    <link href="css/library/font-awesome.min.css" th:href="@{/css/library/font-awesome.min.css}"
          rel="stylesheet"
          media="screen"/>
    <link href="css/library/bootstrap.min.css" th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/library/jquery-ui.min.css" th:href="@{/css/library/jquery-ui.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/library/owl.carousel.css" th:href="@{/css/library/owl.carousel.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/library/jquery.mb.YTPlayer.min.css" th:href="@{/css/library/jquery.mb.YTPlayer.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="login/animate.css/animate.min.css" th:href="@{/login/animate.css/animate.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="login/nprogress/nprogress.css" th:href="@{/login/nprogress/nprogress.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <link rel="icon" type="image/x-icon" href="/favicon.png"/>
</head>
<body>













<div class="container">
    <h1>Destination Flights:</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>From</th>
            <th>To</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Flight Time</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>













<script src="js/library/jquery-1.11.0.min.js" th:src="@{/js/library/jquery-1.11.0.min.js}"
        type="text/javascript"></script>
<script src="js/library/jquery-ui.min.js" th:src="@{/js/library/jquery-ui.min.js}" type="text/javascript"></script>
<script src="js/library/bootstrap.min.js" th:src="@{/js/library/bootstrap.min.js}"
        type="text/javascript"></script>
<script src="js/library/owl.carousel.min.js" th:src="@{/js/library/owl.carousel.min.js}"
        type="text/javascript"></script>
<script src="js/library/parallax.min.js" th:src="@{/js/library/parallax.min.js}" type="text/javascript"></script>
<script src="js/library/jquery.nicescroll.js" th:src="@{/js/library/jquery.nicescroll.js}"
        type="text/javascript"></script>
<script src="js/library/jquery.ui.touch-punch.min.js" th:src="@{/js/library/jquery.ui.touch-punch.min.js}"
        type="text/javascript"></script>
<script src="js/library/jquery.mb.YTPlayer.min.js" th:src="@{/js/library/jquery.mb.YTPlayer.min.js}"
        type="text/javascript"></script>
<script src="js/library/SmoothScroll.js" th:src="@{/js/library/SmoothScroll.js}" type="text/javascript"></script>
<script src="js/script.js" th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/flightbrowser.js}" type="text/javascript"></script>


</body>
</html>