<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">


<!--[if IE 7 ]>
<html class="ie ie7"/> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8"/> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9"/> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"/> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SkyBooking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- Font Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600'
          th:href="@{http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600}" rel="stylesheet"
          type='text/css'/>
    <!-- /Font Google -->
    <link href="css/library/font-awesome.min.css" th:href="@{/css/library/font-awesome.min.css}"
          rel="stylesheet"
          media="screen"/>
    <link href="css/library/bootstrap.min.css" th:href="@{/css/library/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/library/jquery-ui.min.css" th:href="@{/css/library/jquery-ui.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/library/owl.carousel.css" th:href="@{/css/library/owl.carousel.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/library/jquery.mb.YTPlayer.min.css" th:href="@{/css/library/jquery.mb.YTPlayer.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="login/animate.css/animate.min.css" th:href="@{/login/animate.css/animate.min.css}" rel="stylesheet"
          media="screen"/>
    <link href="login/nprogress/nprogress.css" th:href="@{/login/nprogress/nprogress.css}" rel="stylesheet"
          media="screen"/>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <link rel="icon" type="image/x-icon" href="/favicon.png"/>
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="tb-cell">
        <div id="page-loading">
            <div></div>
            <p>Loading</p>
        </div>
    </div>
</div>

<!-- Wrap -->
<div id="wrap">

    <!-- Header -->
    <header id="header" class="header">
        <div class="container">

            <!-- Logo -->
            <div class="logo float-left">
                <a href="/" title=""><img src="images/logo-header.png" alt=""></a>
            </div>
            <!-- End Logo -->
            <!-- Bars -->
            <div class="bars" id="bars"></div>
            <!-- End Bars -->

            <!--Navigation-->
            <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                <div class="nav-inner">
                    <a href="#" class="bars-close" id="bars-close">Close</a>
                    <div class="tb">
                        <div class="tb-cell">
                            <ul class="menu-list text-uppercase">
                                <li class="current-menu-parent">
                                    <a th:href="@{/}" title="">Home</a>

                                </li>
                                <li>
                                    <a th:href="@{/about}" title="">About us</a>
                                </li>
                                <li>
                                    <a href="#" title="">Hotel</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a th:href="@{/flights}" title="">Flights</a>
                                </li>
                                <li>
                                    <a href="#" title="">Car</a>
                                </li>
                                <li>
                                    <a href="#" title="">Package</a>
                                </li>
                                <li>
                                    <a href="#" title="">Tours</a>
                                </li>

                                <li sec:authorize="isAuthenticated()">
                                    <a href="/wizards" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a th:href="@{/logout}" title="">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                        </div>
                    </div>
            </nav>
            <!--End Navigation-->
        </div>
    </header>
    <!-- End Header -->
    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">
                <img src="images/logo-banner.png" alt="">
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->







    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn flight-page bg-white clearfix">
                <div class="row">

                    <!-- Flight Right -->
                    <div class="col-md-9 col-md-push-3">

                        <!-- Flight List -->
                        <section class="flight-list">

                            <!-- page content -->
                            <div class="">

                                <div class="clearfix"></div>

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <center><h2><small>Fill out the form below and book your flight</small></h2></center><br>
                                            </div>
                                            <div class="x_content">


                                                <!-- Smart Wizard -->
                                                <div id="wizard" class="form_wizard wizard_horizontal">
                                                    <ul class="wizard_steps">
                                                        <li>
                                                            <a href="#step-1">
                                                                <span class="step_no">2</span>
                                                                <span class="step_descr">
                                              Passengers<br />
                                          </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#step-2">
                                                                <span class="step_no">3</span>
                                                                <span class="step_descr">
                                              Baggage limit<br />
                                          </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#step-3">
                                                                <span class="step_no">4</span>
                                                                <span class="step_descr">
                                              Others<br />
                                          </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#step-4">
                                                                <span class="step_no">5</span>
                                                                <span class="step_descr">
                                              Confirmation / Payment<br />
                                          </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div id="step-1">
                                                        <form class="form-horizontal form-label-left">



                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Gender</label>
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <select class="form-control">
                                                                        <option>Choose option</option>
                                                                        <option>Mrs.</option>
                                                                        <option>Mr.</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                                                </div>
                                                            </div>





                                                        </form>

                                                    </div>
                                                    <div id="step-2">
                                                        <form class="form-horizontal form-label-left">
                                                            <div class="form-group">
                                                                <label
                                                                        class="control-label col-md-3 col-sm-3 col-xs-3">Hand baggage </label>
                                                                <div class="col-md-6 col-sm-3 col-xs-3">
                                                                    <input type="text" class="form-control"
                                                                           disabled="disabled"
                                                                           placeholder="1 item - 8kg">
                                                                </div>
                                                            </div>



                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Selection registered baggage*</label>
                                                            <div class="col-md-6 col-sm-3 col-xs-3">
                                                                <select class="form-control">
                                                                    <option>no baggage</option>
                                                                    <option>1 item baggage - 55 USD</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        </form>



                                                    </div>
                                                    <div id="step-3">
                                                        <form class="form-horizontal form-label-left">

                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Insurance</label>
                                                                <div class="col-md-6 col-sm-3 col-xs-3">
                                                                    <select class="form-control">
                                                                        <option>No</option>
                                                                        <option>Yes - 100 USD</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label
                                                                        class="control-label col-md-3 col-sm-3 col-xs-3">LOT Automated Check-in*</label>
                                                                <div class="col-md-6 col-sm-3 col-xs-3">
                                                                    <select class="form-control">
                                                                        <option>No</option>
                                                                        <option>I want to be checked-in automatically</option>
                                                                    </select>
                                                                </div>
                                                            </div>




                                                    </form>
                                                    </div>
                                                    <div id="step-4">
                                                        <form class="form-horizontal form-label-left">
                                                                <div class="form-group">



                                                                <!-- Pic na wode -->
                                                            <div class="payment-form">
                                                                <div class="row form">
                                                                    <div class="col-md-6">
                                                                        <h2>Your Information</h2>
                                                                        <div class="form-field">
                                                                            <input type="text" placeholder="First Name" class="field-input">
                                                                        </div>
                                                                        <div class="form-field">
                                                                            <input type="text" placeholder="Last Name" class="field-input">
                                                                        </div>
                                                                        <div class="form-field">
                                                                            <input type="text" placeholder="Email" class="field-input">
                                                                        </div>
                                                                        <div class="form-field">
                                                                            <input type="text" placeholder="Email (confirm)" class="field-input">
                                                                        </div>
                                                                        <div class="form-field">
                                                                            <input type="text" placeholder="Phone number" class="field-input">
                                                                        </div>
                                                                        <div class="form-field">
                                                                            <input type="text" placeholder="Country of Passport" class="field-input">
                                                                        </div>
                                                                        <div class="radio-checkbox">
                                                                            <input type="checkbox" class="checkbox" id="accept">
                                                                            <label for="accept">I am not staying at the hotel. I am making this booking for someone else.</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <h2>Your payment details</h2>
                                                                        <span>Select Payment Method <img src="images/icon-payment.png" alt=""></span>
                                                                        <ul>
                                                                            <li>
                                                                                <div class="radio-checkbox">
                                                                                    <input type="radio" name="radio-1" id="radio-1" class="radio">
                                                                                    <label for="radio-1">Visa</label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="radio-checkbox">
                                                                                    <input type="radio" name="radio-1" id="radio-2" class="radio">
                                                                                    <label for="radio-2">MasterCard</label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="radio-checkbox">
                                                                                    <input type="radio" name="radio-1" id="radio-3" class="radio">
                                                                                    <label for="radio-3">JCB</label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="radio-checkbox">
                                                                                    <input type="radio" name="radio-1" id="radio-4" class="radio">
                                                                                    <label for="radio-4">American Express</label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="radio-checkbox">
                                                                                    <input type="radio" name="radio-1" id="radio-5" class="radio">
                                                                                    <label for="radio-5">PayPal</label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="radio-checkbox">
                                                                                    <input type="radio" name="radio-1" id="radio-6" class="radio">
                                                                                    <label for="radio-6">Carte Bleue</label>
                                                                                </div>
                                                                            </li>

                                                                        </ul>
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-12 col-lg-6 cart-number">

                                                                                <label>Card Number</label>

                                                                                <div class="row">

                                                                                    <div class="col-xs-3">
                                                                                        <div class="form-field">
                                                                                            <input type="text" class="field-input">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-xs-3">
                                                                                        <div class="form-field">
                                                                                            <input type="text" class="field-input">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-xs-3">
                                                                                        <div class="form-field">
                                                                                            <input type="text" class="field-input">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-xs-3">
                                                                                        <div class="form-field">
                                                                                            <input type="text" class="field-input">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-sm-6 col-md-12 col-lg-6 card-holder">
                                                                                <label>Card Holder Name</label>
                                                                                <div class="form-field">
                                                                                    <input type="text" class="field-input">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 col-md-12 col-lg-6 expiry-date">
                                                                                <label>Expiry Date</label>
                                                                                <div class="row">
                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-field">
                                                                                            <input type="text" class="field-input calendar-input">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-field">
                                                                                            <input type="text" class="field-input calendar-input">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 col-md-12 col-lg-6 cvc-code">
                                                                                <label>CVC-code</label>
                                                                                <div class="form-field">
                                                                                    <input type="text" class="field-input">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="submit text-center">
                                                                    <p>
                                                                        By selecting to complete this booking I acknowledge that I have read and accept the <span>rules &amp; restrictions terms &amp; conditions</span> , and <span>privacy policy</span>.
                                                                    </p>

                                                                    <button class="awe-btn awe-btn-1 awe-btn-lager">Pay &amp; Book now</button>

                                                                </div>


                                                <!-- / End Pic na wode -->

                                                        </div>
                                                      </form>
                                                    </div>

                                                </div>
                                                <!-- End SmartWizard Content -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /page content -->

                        </section>
                        <!-- End Flight List -->

                    </div>
                    <!-- End Flight Right -->

                    <!-- Sidebar -->
                    <div class="col-md-3 col-md-pull-9">
                        <!-- Sidebar Content -->
                        <div class="sidebar-cn">

                            <!-- Search Result -->
                            <div class="search-result">
                                <p>
                                    <span>Your current reservation / - Basket</span>
                                </p>
                            </div>
                            <!-- End Search Result -->
                            <!-- Search Form Sidebar -->
                            <div class="search-sidebar">
                                <div class="row">
                                    <div class="form-search clearfix">
                                        <div class="form-field col-md-12">
                                            <label for="picking"><span>From:</span> City or airport</label>
                                            <input type="text" name="picking" id="picking" value="" class="field-input">
                                        </div>
                                        <div class="form-field col-md-12">
                                            <input type="text" name="flightto" id="flightto" value="" class="field-input" placeholder="To">
                                        </div>
                                        <div class="form-field field-date col-md-6">
                                            <input type="text" class="field-input calendar-input" placeholder="Depart">
                                        </div>
                                        <div class="form-field field-date col-md-6">
                                            <input type="text" class="field-input calendar-input" placeholder="Return">
                                        </div>
                                        <div class="form-field field-select col-md-6">
                                            <div class="select">
                                                <span data-placeholder="Select">Adults</span>
                                                <select>
                                                    <option>Adults</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-field field-select col-md-6">
                                            <div class="select">
                                                <span data-placeholder="Select">Children</span>
                                                <select>
                                                    <option>Children</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Search Form Sidebar -->
                    </div>
                    <!-- End Sidebar Content -->
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- End Main -->



<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div class="col-md-4">
                <div class="logo-foter">
                    <a href="/" title=""><img src="images/logo-footer.png" alt=""></a>
                </div>
            </div>
            <!-- End Logo -->
            <!-- Navigation Footer -->


        </div>

        <script src="js/library/jquery-1.11.0.min.js" th:src="@{/js/library/jquery-1.11.0.min.js}"
                type="text/javascript"></script>
        <script src="js/library/jquery-ui.min.js" th:src="@{/js/library/jquery-ui.min.js}" type="text/javascript"></script>
        <script src="js/library/bootstrap.min.js" th:src="@{/js/library/bootstrap.min.js}"
                type="text/javascript"></script>
        <script src="js/library/owl.carousel.min.js" th:src="@{/js/library/owl.carousel.min.js}"
                type="text/javascript"></script>
        <script src="js/library/parallax.min.js" th:src="@{/js/library/parallax.min.js}" type="text/javascript"></script>
        <script src="js/library/jquery.nicescroll.js" th:src="@{/js/library/jquery.nicescroll.js}"
                type="text/javascript"></script>
        <script src="js/library/jquery.ui.touch-punch.min.js" th:src="@{/js/library/jquery.ui.touch-punch.min.js}"
                type="text/javascript"></script>
        <script src="js/library/jquery.mb.YTPlayer.min.js" th:src="@{/js/library/jquery.mb.YTPlayer.min.js}"
                type="text/javascript"></script>
        <script src="js/library/SmoothScroll.js" th:src="@{/js/library/SmoothScroll.js}" type="text/javascript"></script>
        <script src="js/script.js" th:src="@{/js/script.js}" type="text/javascript"></script>
        <script th:src="@{/js/flightsearch.js}" type="text/javascript"></script>
        <script th:src="@{/js/jquery.smartWizard.js}" type="text/javascript"></script>
        <script th:src="@{/js/custom.min.js}" type="text/javascript"></script>


</body>
</html>
